* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(to right, #bbeaf8, #fcc3dc);
}
a.active {
  font-weight: bold;
  font-size: 1.3em;
}
/* NAVBAR  */
header {
  background-color: #560bad;
}
.dropdown > a {
  background-color: #560bad;
}
.dropdown > a:hover {
  color: white;
}
.navbar-brand span {
  font-size: 1.5em;
  font-family: cursive;
}
.nav-item {
  margin-right: 10px;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
}
.nav-item a {
  margin: 0;
}

#search-bar {
  position: relative;
  align-items: center;
}
#search-bar-out {
  background-color: #7209b7;
  text-align: center;
}
#search-bar-out span {
  color: white;
  text-align: left;
  float: left;
  font-size: 0.8em;
}

#search-bar-out img {
  object-fit: contain;
}
#search-bar-out p {
  font-size: 0.8em;
  color: white;
  /* padding-top: 5px; if this is deleted, it will center the text*/
  display: inline-block;
}
#mainContent {
  margin-top: 40px;
  margin-bottom: 30px;
}

a.nav-link:hover {
  font-size: 1.3em;
}

#hiddenCollapse {
  display: none !important;
  position: absolute;
  min-width: 158px;
  z-index: 1;
}
.dropdown a {
  color: white;
  text-decoration: none;
}
.dropdown ul li a {
  color: black;
}

/* HOME PAGE  */
.home-tile a,
.home-tile a:hover {
  color: #000;
}
.home-tile {
  height: 250px;
  position: relative;
  margin-bottom: 30px;
  translate: 0.5s;
}
.home-tile img {
  object-fit: cover;
  height: 250px;
  opacity: 0.8;
  border: 4px solid black;
  border-radius: 20px;
}
.home-tile span {
  position: absolute;
  top: 40%;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}
.home-tile img:hover {
  transform: scale(1) translateY(-15px);
  box-shadow: 5px 10px 18px #888888;
}
/* Gallery edits by Vaibhav */
.gallery-cont {
  margin-bottom: 20px;
}
.gallery-cont img {
  height: 250px;
}
.gallery-tile {
  background-color: #4cc9f0;
  border-radius: 10px;
  border: 1px solid #3a0ca3;
}
.gallery-tile:hover {
  box-shadow: 5px 10px 18px #888888;
}
.gallery-tile a,
.gallery-tile a:hover {
  color: #000;
}
/*  puffyfish edits */
/* .body-categories {
  padding: 40px 0px;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.ind-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  padding: 20px;
  background-color: lightblue;
}

.ind-category h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.ind-category a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #3f37c9;
}

.category-body {
  height: 220px;
  position: relative;
  margin: auto;
}

.category-body img {
  object-fit: cover;
  width: 100%;
  height: auto;
} */

.horizontal-scroll:last-child {
  margin-bottom: 80px;
}

.horizontal-scroll h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.image-container {
  display: flex;
  height: 300px;
  padding: 30px;
  column-gap: 40px;
  width: 100%;
  border: 1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  /* background: rgba(255, 255, 255, 0.1); i like it without background*/
  font-size: 0;
  perspective: 500px;
}

.image-container.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.image-container img {
  object-fit: cover;
  width: 300px;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.image-container:last-child {
  margin-bottom: 100px;
}
/* specific-product styles */
.specific-product-container {
  margin: 30px auto;
  padding: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
}

.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photoGallery {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
}

.photoGallery img {
  margin-right: 10px;
  width: 20%;
  height: auto;
  object-fit: cover;
}

.product-info h2{
  padding-bottom: 3rem;
  text-align: center;
  border-bottom: 1px solid #F72585;
}

.about-info {
    margin-top: 1.5rem;
    border-bottom: 1px solid #F72585;
}

.about-info h3 {
  font-size: 1rem;
  font-weight: bold;
}

.about-info li {
  font-size: 0.9rem;
  list-style-type: disc;
  margin: 0;
}

.priceContainer {
  border-radius: 10px;
  border: 1px solid #F72585;
  padding: 5px;
}

#price-amount {
  color: #F72585;
}

.add-items label{
  font-weight: normal;
}
.related-product-container {
    margin-top: 30px;
    padding: 50px;
}

.related-products {
  display: flex;
  height: 350px;
  padding: 30px;
  column-gap: 40px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  margin-bottom: 30px;
}

.sample {
  width: 100%;
  height: auto;
  object-fit: cover;
}

figcaption {
  padding: 1rem;
  font-weight: 300;
}

.related-products span {
    line-height: 30%;
    font-size: 1rem;
    display: block;
    font-weight: normal;
    color: #F72585;
    text-align: center;
}

.block-button {
  display: inline-block;
  width: 60%;
  color: white;
  background-color: #b5179e;
  border-radius: 15px;
  margin-top: 1rem;
  border: none;
  margin: 5px auto;
  padding: 5px 10px;
}
/* end of Puffyfish edits */

/* CATEGORY PAGE */
.cat-tile {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
  justify-self: center;
}
.cat-tile img {
  object-fit: cover;
  height: 200px;
  object-position: center;
  width: 100%;
}

.cat-tile span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  opacity: 0.7;
  font-size: 1.5em;
  translate: 0.5s;
}
.cat-tile:hover {
  box-shadow: 0px 1px 5px 1px #cccccc;
  transform: scale(1) translateY(-15px);
}
a,
a:hover {
  text-decoration: none;
  color: white;
}

#home-footer {
  background-color: #560bad;
  color: white;
  position: relative;
  padding-top: 75px;
}
#foot1,
#foot2,
#foot3 {
  justify-content: center;
}
#foot1 > p.h5,
#foot2 > p.h5,
#foot3 > p.h5 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 0;
}
#backtotop {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7209b7;
  text-align: center;
}
#backtotop:hover {
  font-size: 1.3em;
  background-color: #7209b7;
  color: #000;
}
ul {
  list-style: none;
}
ul li,
ul a {
  margin-bottom: 15px;
}
/* Product Page */
.img {
  height: 100%;
  padding: 0;
  justify-self: center;
}
.img img {
  object-fit: cover;
  height: 200px;
  object-position: center;
  width: 100%;
}
.prod-tile {
  background-color: #b5179e;
  color: white;
  margin-bottom: 20px;
}
.prod-tile span {
  font-size: 1.5em;
}
/* CART PAGE */

.cart-message {
  font-weight: bolder;
  font-size: 30px;
}
.cart-message-2 {
  font-size: 1.3em;
}
.cart-item {
  height: 100px;
}
.cart-item-img {
  height: 100px;
  text-align: center;
}

.cart-item-img img {
  height: 100px;
  object-fit: cover;
}
.price-container,
.cart-item-desc {
  position: relative;
}
.price,
.item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quantity-container input {
  margin-right: 10px;
}

/* Media Queries */
@media (max-width: 576px) {
  /*navbar*/
  header {
    font-size: 0.9em;
  }
  #mainContent {
    font-size: 0.9em;
  }
  /* itemized cart*/
  .cart-heading,
  .cart-row {
    display: flex;
    justify-content: space-between;
  }
  .quantity-container input {
    margin-bottom: 10px;
  }

}
@media (max-width: 768px) {
  /* footer */
  #foot1,
  #foot2,
  #foot3 {
    text-align: center;
  }
  .specific-product-container {
       display: flex;
       flex-direction: column;
       padding: 20px 5%;
       align-items: center;
       justify-content: center;
     }
}
